body, html {/*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
    height: 100%;
  }/*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
  /*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
  * {/*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
    box-sizing: border-box;
  }/*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
  /*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
  .bg-image {/*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
    /* The image used */
    background: url(https://cdn.discordapp.com/attachments/801432244400422935/801831614174462012/gg.gif) no-repeat fixed;
			background-size: 100%;/*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
  /*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
    /* Add the blur effect *//*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
    filter: blur(8px);/*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
    -webkit-filter: blur(8px);/*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
  /*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
    /* Full height */
    height: 100%;
  /*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }/*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
  /*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
/*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }/*2021. Gweep Creative tarafından yapılmıştır | Youtube.com/GweepCreativeOfficial*/